<% layout('/layouts/boilerplate')%>
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <div class="mb-4">
            <h1 class="h4">Your message was sent. Thank you for using Bulk SMS.</h1>
        </div>
        <div class="mb-4">
            <ul>
                <li>Message: <%= text %></li>
                <li>Message Recipient: <%= phone %></li>
            </ul>
        </div>
        <div class="mb-4">
            <a href="/" class="btn btn-primary">Send another message</a>
        </div>
    </div>
</div>
